

	<!--<script src="../../assets/js/doctor/jquery-3.1.0.min.js"></script>

	<script src="../../assets/js/config.js"></script>-->



	<!--自定义css-->


	<!--自定义js-->
	<!--<script type="text/javascript" src="../../assets/js/doctor/index.js"></script>
	<script type="text/javascript" src="../../assets/js/doctor/core.js" ></script>
	<script type="text/javascript" src="../../assets/js/doctor/showdate.js"></script>-->


	<div id="wwwzzjsnet_zzjs_1">
		<!--健康记录-->
		<ul>
			<li>
				<img src="http://www.gbtags.com/gb/networks/avatars/1679dd15-8c8e-4c35-ae18-365c523562be.JPG" />
				<a id="docname">老中医</a><br>
				<span style="font-size:10px;margin-left:11px;">2016/9/20&nbsp;17:50</span>
			</li>
		</ul>
		<div class="illness" style="margin-top:20px;">
			<div id="disease">
				<p style="line-height:28px;">咳嗽</p>
			</div>
			<div id="se">
				<p style="line-height:28px;">发烧</p>
			</div>
		</div>
		<pre class="neirong">这是个好还是对方户收到开很快就会客户收到空手户收到开很快就会客户快就会客户收到空手户收到开很快就会客户快就会客户收到空手户收到开很快就会客户快就会客户收到空手户收到开很快就会客户快就会客户收到空手户收到开很快就会客户收到空手道黑可是大多数客户就会客户收到空手道黑可是大多数客户收到开发哈兰省大客户</pre>
		<div class="huifu">
			<p>
				张伯伦<strong>:你好好活着吧！没几天贷款及反馈的飞机客户说地方是大家看好会计分录圣诞节福利科室的时间</strong>
			</p>
		</div>
		<textarea class="txtB" placeholder="回复建议"></textarea>
		<input type="button" value="发送" id="sub" />
	</div>
	<!--<script type="text/javascript" src="../../assets/js/doctor/time.js"></script>
	<script type="text/javascript" src="../../assets/js/doctor/data.js"></script>-->
