<div class="panel admin-panel" id="add">
    <div class="panel-head"><strong><span class="icon-pencil-square-o"></span> 医生排班</strong></div>
    <div class="body-content">
        <form>
            <div name="form1" class="form-x">
            	<div class="form-group">
                    <div class="field">
						<div class="field">
								<div class="label">
                       				 <label></label>
                    			</div>
                    			<div class="field"  style="margin-left: 230px;">
                    				<div id="icon" style="position: relative;">
                    					<input type="file" style="position: absolute;left: 0;top:0;width:100px;height:100px;display:block;opacity:0;"/>
                    				</div>
		                        	<span style="padding: 5px;display: block;color: grey;">(点击添加头像)</span>
                    			</div>
                    	</div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="label">
                        <label>姓名</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input w50" id="Names"  name="typename"/>
                        <div class="tips"></div>
                    </div>
                </div>
                <div class="form-group">
                	 <div class="label">
	                    <label>职称</label>
	                </div>
                    <div class="field">
							<select name="" id="titleid" class="input w50">
								<option value="0">主任医师</option>
								<option value="1">副主任医师</option>
								<option value="2">主治医师</option>
								<option value="3">执业医师</option>
							</select>
                    </div>
                </div>
                 <div class="form-group">
                	 <div class="label">
	                    <label>科室</label>
	                </div>
                    <div class="field">
							<select name="" id="section" class="input w50"></select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>电话</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input w50" id="userPhone"  name="typename"/>
                        <div class="tips"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>地区</label>
                    </div>
                    <div class="field">
                        	<select name="" id="city" class="input w50">
								<option value="0">成都</option>
								<option value="1">深圳</option>
							</select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>擅长</label>
                    </div>
                    <div class="field">
                       <textarea style="width:500px;height:130px;border-radius: 10px;text-indent: 10px;" id="adept"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>简介</label>
                    </div>
                    <div class="field">
                       <textarea style="width:500px;height:130px;border-radius: 10px;text-indent: 10px;" id="bio"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>电话问诊资费</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input w50" id="callcost"  name="typename" placeholder="单位 ( 元 )"/>
                        <div class="tips"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>图文问诊资费</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input w50" id="chatcost"  name="typename" placeholder="单位 ( 元 )"/>
                        <div class="tips"></div>
                    </div>
                </div>
                <div class="form-group">
                	 <div class="label">
	                    <label>所属医院</label>
	                </div>
                    <div class="field">
							<select name="" id="hospital" class="input w50">
								<option value="0">成都天使儿童医院</option>
							</select>
                    </div>
                </div>
                <div class="form-group">
                	 <div class="label">
	                    <label>资历</label>
	                </div>
                    <div class="field">
                    	<textarea style="width:500px;height:160px;border-radius: 10px;text-indent: 10px;" id="seniority"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="body-content">
	    <div class="form-group">
		 	<div class="label">
				 <label></label>
	        </div>
	        <div class="field">
				<input type="button" class="button border-main edit  button-block" value="确定修改" id="upDate" />
	        </div>
	    </div>
    </div>
</div>
<script>
	var modifyDoctor={
		
	};
	
	(function(){
		
	})();
</script>