<div class="panel admin-panel">
    <div class="padding border-bottom">
        <ul class="search" style="padding-left:10px;">
            <li> <a class="button border-main icon-plus-square-o" id="addPart" style="cursor:pointer"> 添加医生信息</a> </li>
            <!--<li> <a class="button border-main icon-plus-square-o" id="addFile" style="cursor:pointer"> 添加文件</a> </li>-->
            <li style=""> 
            	<a class="button border-main icon-plus-square-o" style="cursor:pointer;position: relative;"> 添加文件
            		<input type="file" style="position: absolute;left:0;top:0;width:100px;height:40px;opacity:0;" id="addFile" />
            	</a>
            </li>
        </ul>
    </div>
    <table class="table table-hover text-center">
        <tr>
            <th width="8%">姓名</th>
            <th width="18%">科室</th>
            <th width="12%">职称</th>
            <th width="15%">手机</th>
            <th width="8%">地区</th>
            <th width="8%">排班</th>
            <th width="8%">专家</th>
            <th width="8%">问诊</th>
            <th>操作</th>
        </tr>
        <tbody id="goods3">
            <!--<tr>
                <td>儿科袁术</td>
                <td>33333333333</td>
                <td>
                    <a href="javascript:;" class="button border-main edit">修改</a>
                    <a href="javascript:;" class="button border-main edit">删除</a>
                </td>
            </tr>-->
        </tbody>
    </table>
</div>
<script>
    //科室管理------------------------------------------
    var kePart={
        //后台数据调用-----------------------------------------------------------------
        getData:function(){
            var goodsBox=$("#goods3");//内容渲染盒子
            $.ajax({
                url:serUrl+"doctor/getDrList",
                type:"post",
                crossDomain:true,
                dataType:"json",
                success:function(data){
                    console.log(data);
                    var content="";//内容储存---------------
                    var message="";
                    var msg="";
                    for(var k=0;k<data.length;k++){
                    	if(data[k].canonline==1){
                    		message='<td>'+'<a id="'+data[k].sectionid+'" href="javascript:;" class="button border-main edit icon-user expert"> 是</a>'+'</td>';
                    	}else{
                    		message='<td>'+'<a id="'+data[k].sectionid+'" href="javascript:;" class="button border-red edit icon-user expert"> 否</a>'+'</td>';
                    	}
                    	if(data[k].isexpert==1){
                    		msg='<td>'+'<a id="alter" val="'+data[k].sectionid+'" href="javascript:;" class="button border-main edit icon-microphone"> 是</a>'+'</td>';
                    	}else{
                    		msg='<td>'+'<a id="alter" val="'+data[k].sectionid+'" href="javascript:;" class="button border-red edit icon-microphone"> 否</a>'+'</td>';
                    	}
                    	 content+='<tr>'+
	                                    '<td>'+data[k].name+'</td>'+
	                                    '<td>'+data[k].section+'</td>'+
	                                    '<td>'+data[k].title+'</td>'+
	                                    '<td>'+data[k].username+'</td>'+
	                                    '<td>'+data[k].city+'</td>'+
	                                    '<td>'+'<a id="Scheduling" val="'+data[k].sectionid+'" href="javascript:;" class="button border-red edit icon-edit (alias)"> 排班</a>'+'</td>'+
	                                    message+
	                                    msg+
	                                    '<td>'+ '<a id="alter" val="'+data[k].sectionid+'" href="javascript:;" class="button border-red edit"> 修改</a>'+
	                                    '</td>'+
	                               '</tr>';
                    }
                    goodsBox.append(content);
                },
                error:function(){
                    console.log(".....请求发生错误了.....")
                }
            })
        },
        //是否专家-----------------------------------------------------------------
        expert:function(val){
        	$.ajax({
                url:serUrl+"doctor/updateDocInfo",
                type:"post",
                data:{"secid":id},
                crossDomain:true,
                dataType:"json",
                success:function(data){
                    console.log(data);
                },
                error:function(){
                    console.log("请求发生错误,没有完成删除......");
                }
            });
        }
    };

    (function(){
        //页面的数据加载----------------------------------------------------------------
        kePart.getData();
        $("#addPart").click(function(){
            mainBox.ajaxData("keDepart/addPart.html",$(".admin"));
        });

        //点击删除-----------------------------------------------------------------------
        var tbody=$("tbody");
        tbody.on("click","#del",function(){
            var id=($(this).attr("val"));
            if(confirm("你确定要删除吗?")){
                kePart.del(id);
                mainBox.ajaxData("keDepart/kedepart.html",$(".admin"));
            }
        });

        //点击修改是否专家---------------------------------------------------------------------
        tbody.on("click",".expert",function(){
            var id=$(this).attr("id");
            console.log(id);
           	if(id==1){
           		$(this).attr("id",0)
                   message='<td>'+'<a id="'+data[k].sectionid+'" href="javascript:;" class="button border-main edit icon-user expert"> 是</a>'+'</td>';
            }else{
            	$(this).attr("id",1)
                   message='<td>'+'<a id="'+data[k].sectionid+'" href="javascript:;" class="button border-red edit icon-user expert"> 否</a>'+'</td>';
            }
        })
        
        //上传文件-------------------------------------------------------------------------
        $("#addFile").change(function(){
        	var formData = new FormData();
                formData.append("excelFile", $("#addFile")[0].files[0]);
        	$.ajax({
                        url: serUrl+'/doctor/getDataFromExcel',
                        type: 'POST',
                        cache: false,
                        data: formData,
                        processData: false,
                        contentType: false,
                        crossDomain: true,
                        dataType: "json",
                        async:true,
                        success: function (data) {
                        	alert("上传成功");
                        	mainBox.ajaxData("keDepart/kedepart.html",$(".admin"));
                        },
                        error: function (error) {
                            alert("上传失败,请检查文件是否是Excel文件");
                        }
                    });
        })
        
        
    })();
</script>