<div class="panel admin-panel">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>添加内容</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" name="from3">
      <div class="form-group">
        <div class="label">
          <label>标题：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="title" id="title"/>
          <div class="tips"></div>
        </div>
      </div>
       <div class="form-group">
        <div class="label">
          <label>前景图：</label>
        </div>
        <div id="container" class="field">
            <div style="position: relative">
                <img src="assets/images/tmbg-white.png" style="max-width: 368px;min-width: 368px" id="VideoIcon">
                <span style="color: red;font-size: 16px">(点击图片上传)</span>
                <!--<input type="text" id="icon" name="icon" class="input tips" style="width:25%; float:left;" placeholder="点击上传图片"/>-->
                <input id="pickfiles"  type="file" class="input tips" style="width:368px;height: 100%;position: absolute;left: 0;top: 0;opacity: 0">
            </div>
            <p class="img_Size filePrompt"></p>
            <p class="img_Type filePrompt"></p>
        </div>
      </div>   
       <div class="form-group">
            <div class="label">
              <label>视频：</label>
            </div>
            <div id="container2" class="field">
                <div style="position: relative">
                    <input type="text" id="video" name="video" class="input tips" style="width:25%; float:left;" placeholder="点击上传视频"/>
                    <input id="pickfiles2"  type="file" class="input tips" style="width:25%; float:left;position: absolute;left: 0;top: 0;opacity: 0">
                </div>
                <p class="img_Size2 filePrompt"></p>
                <p class="img_Type2 filePrompt"></p>
            </div>
        </div>
        <div class="form-group">
            <div class="label">
                <label>视频时长(*必填)：</label>
            </div>
            <div class="field">
                <input type="text" id="length" class="input tips" style="width:25%; float:left;" placeholder="格式如=> 00:00:00 (小时:分钟:秒钟)"/>
            </div>
        </div>
        <div class="form-group">
            <div class="label">
              <label></label>
            </div>
            <div class="field">
              <a href="javascript:;" class="button bg-main icon-check-square-o" id="addLecture"> 提交</a>
            </div>
        </div>
    </form>
  </div>
</div>
<div style="position: fixed;left:0;top: 0;width: 100%;height: 100%;background:rgba(0,0,0,.5);display: none" id="VPrompt">
    <div style="position: absolute;left:  50%;top: 50%;padding: 30px;">
        <h2 style="background: white">视频上传中,请勿关闭页面!</h2>
        <progress value="0" style="border: 2px solid skyblue;margin-top: 20px;height: 20px;width: 100%"></progress>
        <p id="upLoad" style="text-align: center"></p>
    </div>
</div>
<script>
    addVideo={
        //上传图片------------------------------------------------------
        upDataImg:function () {
            var data=new FormData();
                data.append("icon",$("#pickfiles")[0].files[0]);
            $.ajax({
                url:serUrl+"upload/uploadFile",
                type:"post",
                data:data,
                cache: false,
                contentType: false,
                processData: false,
                crossDomain:true,
                dataType:"json",
                success: function (data) {
                    $("#VideoIcon").attr("src",data);
                },
                error: function () {
                    console.log(".....请求发生错误了.....")
                }
            });
        },
        //添加数据------------------------------------------------------
        upData:function () {
            var data=new FormData();
            data.append("cover",$("#VideoIcon").attr("src"));
            data.append("title",$("#title").val());
            data.append("video",$("#pickfiles2")[0].files[0]);
            data.append("lduration",$("#length").val());
            $.ajax({
                url:serUrl+"lecture/addLecture",
                type:"post",
                data:data,
                cache: false,
                contentType: false,
                processData: false,
                crossDomain:true,
                dataType:"json",
                xhr: function(){ //获取ajaxSettings中的xhr对象，为它的upload属性绑定progress事件的处理函数
                    var myXhr = $.ajaxSettings.xhr();
                    if(myXhr.upload){ //检查upload属性是否存在
                        //绑定progress事件的回调函数
                        myXhr.upload.addEventListener('progress',progressHandlingFunction, false);
                    }
                    return myXhr; //xhr对象返回给jQuery使用
                },
                success:function(data){
                    if(data){
                        $("#VPrompt").css("display","none");
                        var p=confirm("添加成功!自动跳转到前一页");
                        if(p){
                            mainBox.ajaxData("video/lecture.html",$(".admin"));
                        }else {
                            mainBox.ajaxData("video/lecture.html",$(".admin"));
                        }
                    }else {
                        alert("添加失败.发生了未知的错误!")
                    }
                },
                error:function(){
                    console.log("请求发生错误,没有完成添加......");
                }
            });
            //上传进度回调函数：
            function progressHandlingFunction(e) {
                if (e.lengthComputable) {
                    $('progress').attr({value : e.loaded, max : e.total}); //更新数据到进度条
                    var percent = e.loaded/e.total*100;
                    $('#upLoad').html(e.loaded + "/" + e.total+" 上传进度. " + percent.toFixed(2) + "%");
                }
            }
        }
    };

    (function () {
        //上传图片------------------------------------------------------------------------
        $("#pickfiles").change(function () {
            var reg2 = /^(\s|\S)+(jpg|png|JPG|PNG)+$/;
            if (!reg2.test($("#pickfiles")[0].files[0].name)) {
                alert('请选择扩展名为png或jpg格式的图片！有其他格式请联系管理员');
                return false;
            }else {
                $("#icon").val($("#pickfiles")[0].files[0].name);
                $(".img_Type").html($("#pickfiles")[0].files[0].type);
                addVideo.upDataImg();
            }
        });

        //上传视频------------------------------------------------------------------------
        $("#pickfiles2").change(function () {
            $(".img_Size2").html(parseInt($("#pickfiles2")[0].files[0].size/1000)+"KB");
            $("#video").val($("#pickfiles2")[0].files[0].name);
            $(".img_Type2").html($("#pickfiles2")[0].files[0].type);
        });
        //视频长度正则--------------------------------------------------------------------
        function isChinaName(name) {
            var regTime = /^([0-9][0-9]):([0-5][0-9]):([0-5][0-9])$/;
            return regTime.test(name);
        }
        //填写视屏长度----------------------------------------------------------------------
        $("#length").blur(function () {
          if($(this).val()==""||$(this).val()==" "||isChinaName($(this).val())!=true){
              alert("请输入正确的视频时长(格式如: 00:00:00 小时:分钟:秒钟),特殊情况请联系管理员");
          }
        });

        //点击提交------------------------------------------------------------------------------
        $("#addLecture").click(function () {
            if($("#title").val()==""||$("#title").val()==" "){
                alert("没有标题,请输入标题,");
                return false;
            }

            if($("#video").val()==""||$("#video").val()==" "){
                alert("没有视频,请上传视频,");
                return false;
            }

            if($("#length").val()==""||$("#length").val()==" "||isChinaName($("#length").val())!=true){
                alert("视频时长不正确!");
                return false;
            }
            addVideo.upData();
            $("#VPrompt").css("display","block");
        })
    })()
</script>
</body>
</html>