<link rel="stylesheet" href="assets/css/upload.css">
<style type="text/css">
	#imgIcon,#imgCover{
		border: 1px solid red;
		position:relative;
		right:230px;
	}
</style>
<div class="panel admin-panel" id="add">
  <div class="panel-head"><strong><span class="icon-pencil-square-o"></span>新增资讯</strong></div>
  <div class="body-content">
    <div name="form1" class="form-x">
     <div class="form-group">
        <div class="label">
          <label>缩略图片：</label>
        </div>
        <div class="uploader blue" style="width:230px;height:32px;position:relative;">
			<input type="text" class="filename" readonly/>
			<input type="button" class="button" value="浏览"/>
			<input type="file" name="icon" size="50" id="imgIcon" multiple="multiple" style="position: absolute;top:0;left:0;"/>
		</div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>文章图片：</label>
        </div>
         <div class="uploader blue" style="width:230px;height:32px;position:relative;">
			<input type="text" class="filename" readonly/>
			<input type="button" class="button" value="浏览"/>
			<input type="file" name="Cover" size="50" id="imgCover" multiple="multiple" style="position: absolute;top:0;left:0;"/>
		</div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>标题：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" id="title"  />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>描述：</label>
        </div>
        <div class="field">
          <textarea class="input" id="content" style=" height:90px; width:450px"></textarea>
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" id="addBtn" >提交</button>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
$(function(){
	$("input[type=file]").change(function(){$(this).parents(".uploader").find(".filename").val($(this).val());});
	$("input[type=file]").each(function(){
		if($(this).val()==""){$(this).parents(".uploader").find(".filename").val("未选择文件...");}
	});
});

$(document).ready(function(){

	$("#addBtn").click(function(){
		var formData=new FormData();
		formData.append("title", $("#title").val());
		formData.append("content", $("#content").val());
		formData.append("imgIcon", $("#imgIcon")[0].files[0]);
		formData.append("imgCover", $("#imgCover")[0].files[0]);
/*		console.log($("#imgIcon")[0].files[0]);
		console.log($("#imgCover")[0].files[0]);*/
		$.ajax({
			url: serUrl+'/upload/ImgUpload',
    		type: 'POST',
    		cache: false,
    		data: formData,
    		processData: false,
    		contentType: false,
			crossDomain:true,
			dataType:"json",
    		success:function(data){
    			if(data){
    				if(confirm("添加成功,是否返回前一页")){
						window.location.reload();
    				}else{//继续添加,重置表单
    					$("input[type=file]").each(function(){
							if($(this).val()==""){
								$(this).parents(".uploader").find(".filename").val("未选择文件...");
							}
						});
						 $("#title").val("");
						 $("#content").val("");
    				}
    			}
    		},
			error:function(){
				alert("发生错误了哈")
			}

		});
	});
});
</script>
