<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gjyl.appserver.dao.MyFocusesMapper" >
  <resultMap id="BaseResultMap" type="com.gjyl.appserver.pojo.MyFocuses" >
    <id column="FocusId" property="focusid" jdbcType="CHAR" />
    <result column="UserId" property="userid" jdbcType="CHAR" />
    <result column="UserName" property="username" jdbcType="VARCHAR" />
    <result column="FocusedId" property="focusedid" jdbcType="CHAR" />
    <result column="FocusedName" property="focusedname" jdbcType="VARCHAR" />
    <result column="Memo" property="memo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    FocusId, UserId, UserName, FocusedId, FocusedName, Memo
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from MyFocuses
    where FocusId = #{focusid,jdbcType=CHAR}
  </select>

  <!-- 是否关注 -->
  <select id="isExist" parameterType="java.lang.String" resultType="java.lang.Integer" >
    SELECT
    count(*)
    FROM MyFocuses
    WHERE UserId=#{userid,jdbcType=CHAR} AND FocusedId=#{pubUserId,jdbcType=CHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from MyFocuses
    where FocusId = #{focusid,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.gjyl.appserver.pojo.MyFocuses" >
    insert into MyFocuses (FocusId, UserId, UserName, 
      FocusedId, FocusedName, Memo
      )
    values (#{focusid,jdbcType=CHAR}, #{userid,jdbcType=CHAR}, #{username,jdbcType=VARCHAR}, 
      #{focusedid,jdbcType=CHAR}, #{focusedname,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gjyl.appserver.pojo.MyFocuses" >
    insert into MyFocuses
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="focusid != null" >
        FocusId,
      </if>
      <if test="userid != null" >
        UserId,
      </if>
      <if test="username != null" >
        UserName,
      </if>
      <if test="focusedid != null" >
        FocusedId,
      </if>
      <if test="focusedname != null" >
        FocusedName,
      </if>
      <if test="memo != null" >
        Memo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="focusid != null" >
        #{focusid,jdbcType=CHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=CHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="focusedid != null" >
        #{focusedid,jdbcType=CHAR},
      </if>
      <if test="focusedname != null" >
        #{focusedname,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gjyl.appserver.pojo.MyFocuses" >
    update MyFocuses
    <set >
      <if test="userid != null" >
        UserId = #{userid,jdbcType=CHAR},
      </if>
      <if test="username != null" >
        UserName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="focusedid != null" >
        FocusedId = #{focusedid,jdbcType=CHAR},
      </if>
      <if test="focusedname != null" >
        FocusedName = #{focusedname,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        Memo = #{memo,jdbcType=VARCHAR},
      </if>
    </set>
    where FocusId = #{focusid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gjyl.appserver.pojo.MyFocuses" >
    update MyFocuses
    set UserId = #{userid,jdbcType=CHAR},
      UserName = #{username,jdbcType=VARCHAR},
      FocusedId = #{focusedid,jdbcType=CHAR},
      FocusedName = #{focusedname,jdbcType=VARCHAR},
      Memo = #{memo,jdbcType=VARCHAR}
    where FocusId = #{focusid,jdbcType=CHAR}
  </update>
</mapper>