<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gjyl.appserver.dao.UserVoucherMapper" >
  <resultMap id="BaseResultMap" type="com.gjyl.appserver.pojo.UserVoucher" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="userid" property="userid" jdbcType="CHAR" />
    <result column="vouType" property="voutype" jdbcType="INTEGER" />
    <result column="endtime" property="endtime" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userid, vouType, endtime, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from uservoucher
    where id = #{id,jdbcType=CHAR}
  </select>
  
  <!-- 我的代金券 -->
  <select id="getMyVoucher" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select 
    <include refid="Base_Column_List" />
    from uservoucher
    where userid=#{userId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from uservoucher
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.gjyl.appserver.pojo.UserVoucher" >
    insert into uservoucher (id, userid, vouType, 
      endtime, status)
    values (#{id,jdbcType=CHAR}, #{userid,jdbcType=CHAR}, #{voutype,jdbcType=INTEGER}, 
      #{endtime,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER})
  </insert>
  <!-- 新增分享所得的代金券 -->
  <insert id="addShareVoucher" parameterType="com.gjyl.appserver.pojo.UserVoucher">
  insert into uservoucher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="voutype != null" >
        vouType,
      </if>
      <if test="endtime != null" >
        endtime,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=CHAR},
      </if>
      <if test="voutype != null" >
        #{voutype,jdbcType=INTEGER},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <insert id="insertSelective" parameterType="com.gjyl.appserver.pojo.UserVoucher" >
    insert into uservoucher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="voutype != null" >
        vouType,
      </if>
      <if test="endtime != null" >
        endtime,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=CHAR},
      </if>
      <if test="voutype != null" >
        #{voutype,jdbcType=INTEGER},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gjyl.appserver.pojo.UserVoucher" >
    update uservoucher
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=CHAR},
      </if>
      <if test="voutype != null" >
        vouType = #{voutype,jdbcType=INTEGER},
      </if>
      <if test="endtime != null" >
        endtime = #{endtime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  
  <!-- 使用代金券 -->
  <update id="updateBatch" parameterType="java.util.List" >
  	<foreach collection="list" item="item" index="index" open="" close="" separator=";">
				update uservoucher 
				<set>
				  status=1
				</set>
				where id = #{item,jdbcType=CHAR}
				
	   </foreach>
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.gjyl.appserver.pojo.UserVoucher" >
    update uservoucher
    set userid = #{userid,jdbcType=CHAR},
      vouType = #{voutype,jdbcType=INTEGER},
      endtime = #{endtime,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>