/*闂備胶顭堥鍐磿闁秴绠栫�广儱娲︽刊濂告煛婢跺孩纭剁紒澶涙嫹*/
#wwwzzjsnet_zzjs_1 {
	position: absolute;
	margin-top: 20px;
	width: auto;
	height: auto;
	margin-left: 35px;
	margin-right: 35px;
}

#wwwzzjsnet_zzjs_1 img {
	width: 40px;
	height: 40px;
	float: left;
	border-radius: 20px;
}

#wwwzzjsnet_zzjs_1 a {
	margin-left: 11px;
	margin-top: 3px;
	font-size: 10px;
}

#wwwzzjsnet_zzjs_1 p {
	text-indent: 1em;
	line-height: 1px;
	font-size: 10px;
}

#wwwzzjsnet_zzjs_1 li {
	padding: 2px;
	position: relative;
	white-space: nowrap;
	/*闁诲孩顔栭崰鏍箹椤愶箑鏄ユ俊銈勮兌閳绘梻锟藉箍鍎卞Λ妤佹償婵犲洦鍋犳繛鎴ｆ珪鐎氾拷*/
	border-bottom: 1px #ccc deshed;
	width: 20em;
	/*濠电偞鍨堕幐鍝ョ矓閹绢喖鍌ㄩ柟瀵稿У婵偐绱掔�ｎ亞浠㈡慨锝咁樀閺岋絽顭ㄩ崟顒傚嚒閻庤娲橀崝鏇熸櫏婵犮垼娉涢敃锕傚箺閻斿吋鐓欓柟纰卞幒缁ㄥジ鏌″畝瀣*/
	zoom: 1;
}

/*闂備焦鐪归崐鏇熸櫠閽樺娼栭柛鎾楀倹鍕冮梺鍝勬川婵増绂掑☉銏＄厱闁哄秴鐏氱�氾拷*/
.illness {
	line-height: 10px;
	margin-left: 73px;
	width: auto;
	height: 60px;
	background-color: #EEEEEE;
}

/*fkfdkljg */
.neirong {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	line-height: 18px;
	margin: 20px 0 20px 73px;
}

.txt {
	width: auto;
	margin-left: 92px;
	border: none;
	/*闂備礁鎲￠敋妞ゎ厼鍢查埢宥嗘償閵忊晜浠樺┑鈽嗗灡椤戞瑩宕ラ崶顒�绾ч柛顐秵濞兼劖銇勯～顔藉*/
	background-color: #E0E0E0;
	position: absolute;
	resize: none;
	outline: none;
}

#sub {
	margin-top: 2%;
	width: 78px;
	height: 28px;
	float: right;
	border-radius: 4px;
	border:none;
	background-color: #6fc8e6;
}

#disease {
	width: 48px;
	height: 28px;
	margin: 16px 0px 16px 8px;
	position: absolute;
	border-radius: 12px;
	border: 1px solid chartreuse;
}

#disease p {
	line-height: 5px;
	color: chartreuse;
}

#se {
	width: 48px;
	height: 28px;
	margin: 16px 0px 16px 65px;
	position: absolute;
	border-radius: 12px;
	border: 1px solid red;
}

#se p {
	line-height: 5px;
	color: red;
}

.huifu{
	margin-left: 61px;
}
/* 闁烩偓鍔嶉崺娑㈠箰閸屾艾濞� */
.reply {
	width: 445px;
	height: 160px;
	display: none;
	background-color: #C1C1C1;
}

.con {
	margin-top: 5px;
	margin-left: 7px;
	resize: none;
	width: 430px;
}

.tijiaoreply {
	width: 50px;
	height: 25px;
	border-radius: 4px;
	border: 1px solid #C0C0C0;
	margin-top: 3px;
	float: right;
	margin-right: 8px;
}
/* 鍋ュ悍鐢ㄨ嵂鎻愰啋 */
.index_tab {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #e0e0e0;
	margin: 8px 0;
}

.index_tab td {
	line-height: 30px;
	border: 1px solid #e0e0e0;
	padding-left: 4px;
}

tr.tr_top td {
	line-height: 30px;
	border: none;
	background-color: #6fc8e6;
	color: #fff;
	font-weight: bold;
}

td.td_center {
	text-align: center;
}

.add {
	position: absolute;
}

.btn {
	border-radius: 4px;
	width: 90px;
	height: 21px;
	outline: none;
	text-align: right;
	background-color: #ffffff;
	border: 1px solid #CCCCCC;
}

.addimg {
	width: 12px;
	height: 12px;
	margin-left: 10px;
	position: absolute;
	top: 6px;
}

.renm {
	display: none;
	width: 80px;
	height: 24px;
	margin-left: 150px;
}

.text_time {
	width: 207px;
	height: 20px;
	background: #ffffff;
	border: 1px solid #BBBBBB;
}
/*鐢ㄨ嵂鎻愰啋*/
#remind {
	width: 450px;
	height: 600px;
	margin: 300px;
	margin-top: 70px;
	background-color: #E0E0E0;
	position: relative;
	display: none;
}

.sum {
	margin-top: 10px;
	pandding-left: 25px;
	position: absolute;
}

.sumstyle {
	height: 26px;
	border-radius: 4px;
	text-align: center;
	width: 62px;
}

.sumstyle1 {
	width: 50px;
	height: 26px;
	text-align: center;
	border-radius: 4px;
}

.sum_divstyle {
	margin-left: 20px;
	margin-top: 20px;
	position: relative;
}

.yongyaotitle {
	position: absolute;
	top: 0;
	left: 0;
}

textarea.txtB {
	resize: none;
	width:400px;
	margin-left:73px;
	background:#E0E0E0;
	border:none;
	min-height:60px;
}

#remind .yongyaotext {
	width: 320px;
	height: 72px;
	margin-left: 65px;
	display: inline-block;
}

.sumtijiao {
	margin-left: 100px;
	margin-top: 20px;
}

.sumbaocun {
	width: 80px;
	height: 30px;
	background-color: #92bd4c;
	border-radius: 4px;
}

.sumquxiao {
	width: 80px;
	height: 30px;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #e0e0e0;
	margin-left: 20px;
}

/* 閹綀锟藉懎缍嶉崗锟� */
.guahaotitle {
	position: absolute;
	top: 20px;
	left: 0;
}

.guahao {
	width: 280px;
	height: 380px;
	display: none;
	border-radius: 10px;
	position: absolute;
	left: 300px;
    top: 120px;
	background-color: #E6F0FE;
}

.guahaotijiao {
	margin-top: 10px;
	margin-left: 60%;
}

.guahaoquxiao {
	margin-top: 10px;
	margin-left: 40%;
	position: absolute;
}

.guahaotext {
	width: 150px;
	height: 24px;
	margin-left: 80px;
	display: inline-block;
}